/* Desenvolva sua estilização aqui... */

header{
    color: white;
    position: absolute;
    top: 0rem;
    right: 0rem;
    height: 38.8rem;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.marg{
    margin: 0 auto;
}
.divisor{
    width: 60%;
}

.title-caixa{
    margin: 2rem;
}