.flex{
    display: flex;
}
.colum{
    flex-direction: column;
}
.start{
    justify-content: flex-start;
}
.itens-start{
    align-items: flex-start;
}
.itens-center{
    align-items: center;
}
.just-center{
    justify-content: center;
}
.between{
    justify-content: space-between;
}
.wrap{
    flex-wrap: wrap;
}
.gap{
    gap: 1rem;
}
.gap2{
    gap: 2rem;
}
.marg-top{
    margin-top: 1.5rem;
}
.marg-top2{
    margin-top: 4.9rem;
}
.marg-bottom{
    margin-bottom: 1.5rem;
}
.marg-bottom2{
    margin-bottom: 4.625rem;
}